body{
    background-color: #333;
}
#fan{
    width: 1px;
    height: 1px;
    background-color: red;
    position: absolute;
    left: 0;
    top: 650px;
    right: 0;
    margin: auto;
}
#fan div{
    background-color: #fff;
    width: 30em;
    height: 4em;
    padding: 1em;
    position: absolute;
    top: -2em;
    transform-origin: 1em center;
    border: 1px solid rgb(243, 140, 140);
    border-bottom-color: rgba(235, 26, 26, 0.76);
    border-top-color: rgba(250, 187, 187, 0.76);
    text-align: right;
    border-radius: 150% 5em 5em 150%;
    box-shadow: 0 0 3px 1px black;
}
#fan div:nth-child(1){
    transform: rotate(-10deg);
    background-color:  #400080;
    color: #ffffff;
    transition: 0.9s;
}
#fan div:nth-child(2){
    transform: rotate(-10deg);
    background-color: #4d0099;
    color: #ffffff;
    transition: 0.9s;
}
#fan div:nth-child(3){
    transform: rotate(-10deg);
    background-color: #5900b3;
    color: #f2f2f2;
    transition: 0.9s;
}
#fan div:nth-child(4){
    transform: rotate(-10deg);
    background-color: #6600cc;
    color: #f2f2f2;
    transition: 0.9s;
}
#fan div:nth-child(5){
    transform: rotate(-10deg);
    background-color:  #7300e6;
    color: #e6e6e6;
    transition: 0.9s;
}
#fan div:nth-child(6){
    transform: rotate(-10deg);
    background-color: #8000ff;
    color: #e6e6e6;
    transition: 0.9s;
}
#fan div:nth-child(7){
    transform: rotate(-10deg);
    background-color:  #8c1aff;
    color: #262626;
    transition: 0.9s;
}
#fan div:nth-child(8){
    transform: rotate(-10deg);
    background-color: #9933ff;
    color:  #262626;
    transition: 0.9s;
}
#fan div:nth-child(9){
    transform: rotate(-10deg);
    background-color: #a64dff ;
    color: #0d0d0d;
    transition: 0.9s;
}
#fan div:nth-child(10){
    transform: rotate(-10deg);
    background-color:  #b366ff;
    color: #0d0d0d;
    transition: 0.9s;
}
#fan div:nth-child(11){
    transform: rotate(-10deg);
    background-color: #bf80ff;
    color: #000000;
    transition: 0.9s;
}
#fan div:nth-child(12){
    transform: rotate(-10deg);
    background-color: #cc99ff;
    color: #000000;
    transition: 0.9s;
}

#fan:hover div:nth-child(1){
    transform: rotate(-10deg);
    background-color:  #400080;
    color: #ffffff;
    transition: 1.5s;
}
#fan:hover div:nth-child(2){
    transform: rotate(-20deg);
    background-color: #4d0099;
    color: #ffffff;
    transition: 1.5s;
}
#fan:hover div:nth-child(3){
    transform: rotate(-30deg);
    background-color: #5900b3;
    color: #f2f2f2;
    transition: 1.5s;
}
#fan:hover div:nth-child(4){
    transform: rotate(-40deg);
    background-color: #6600cc;
    color: #f2f2f2;
    transition: 1.5s;
}
#fan:hover div:nth-child(5){
    transform: rotate(-50deg);
    background-color:  #7300e6;
    color: #e6e6e6;
    transition: 1.5s;
}
#fan:hover div:nth-child(6){
    transform: rotate(-60deg);
    background-color: #8000ff;
    color: #e6e6e6;
    transition: 1.5s;
}
#fan:hover div:nth-child(7){
    transform: rotate(-70deg);
    background-color:  #8c1aff;
    color: #262626;
    transition: 1.5s;
}
#fan:hover div:nth-child(8){
    transform: rotate(-80deg);
    background-color: #9933ff;
    color:  #262626;
    transition: 1.5s;
}
#fan:hover div:nth-child(9){
    transform: rotate(-90deg);
    background-color: #a64dff ;
    color: #0d0d0d;
    transition: 1.5s;
}
#fan:hover div:nth-child(10){
    transform: rotate(-100deg);
    background-color:  #b366ff;
    color: #0d0d0d;
    transition: 1.5s;
}
#fan:hover div:nth-child(11){
    transform: rotate(-110deg);
    background-color: #bf80ff;
    color: #000000;
    transition: 1.5s;
}
#fan:hover div:nth-child(12){
    transform: rotate(-120deg);
    background-color: #cc99ff;
    color: #000000;
    transition: 1.5s;
}
#fan div:nth-child(12)::before{
    content: "";
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: #333;
    border-radius: 100%;
    top: 2.5em;
    box-shadow: inset 0 0 3px 1px #cc99ff;
}
#fan div:nth-child(12)::after{
    content: "";
    display: block;
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    background-color: #333;
    border-radius: 100%;
    top: 2.75em;
    left: 1.25em;
    box-shadow: 0 0 3px 2px #cc99ff;
}
#fan div h2{
    font-family: 'Julee', cursive;
}
#fan div h2::before{
    content: "";
    display: block;
    width: 0.15em;
    height: 0.15em;
    border: 0.1em solid #000000;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
    position: absolute;
    left: 9.2em;
    top: 1.1em;
}
#fan div h2::after{
    content: "";
    display: block;
    width: 0.15em;
    height: 0.15em;
    border: 0.1em solid #000000;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-225deg);
    position: absolute;
    right: 0.3em;
    top: 1.1em;
}
#fan div:nth-child(1) h2::before{
    border-left-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
#fan div:nth-child(1) h2::after{
    border-left-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
#fan div:nth-child(2) h2::before{
    border-left-color: #FFFFFF;
    border-top-color: #FFFFFF;
    left: 6.4em
}
#fan div:nth-child(2) h2::after{
    border-left-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
#fan div:nth-child(3) h2::before{
    border-left-color: #f2f2f2;
    border-top-color: #f2f2f2;
    left: 10em
}
#fan div:nth-child(3) h2::after{
    border-left-color: #f2f2f2;
    border-top-color: #f2f2f2;
}
#fan div:nth-child(4) h2::before{
    border-left-color: #f2f2f2;
    border-top-color: #f2f2f2;
    left: 4.5em
}
#fan div:nth-child(4) h2::after{
    border-left-color: #f2f2f2;
    border-top-color: #f2f2f2;
}
#fan div:nth-child(5) h2::before{
    border-left-color: #e6e6e6;
    border-top-color: #e6e6e6;
    left: 5em
}
#fan div:nth-child(5) h2::after{
    border-left-color: #e6e6e6;
    border-top-color: #e6e6e6;
}
#fan div:nth-child(6) h2::before{
    border-left-color: #e6e6e6;
    border-top-color: #e6e6e6;
    left: 3.4em
}
#fan div:nth-child(6) h2::after{
    border-left-color: #e6e6e6;
    border-top-color: #e6e6e6;
}
#fan div:nth-child(7) h2::before{
    border-left-color: #262626;
    border-top-color: #262626;
    left: 7em
}
#fan div:nth-child(7) h2::after{
    border-left-color: #262626;
    border-top-color: #262626;
}
#fan div:nth-child(8) h2::before{
    border-left-color: #262626;
    border-top-color: #262626;
    left: 9.5em
}
#fan div:nth-child(8) h2::after{
    border-left-color: #262626;
    border-top-color: #262626;
}
#fan div:nth-child(9) h2::before{
    border-left-color: #0d0d0d;
    border-top-color: #0d0d0d;
    left: 2em
}
#fan div:nth-child(9) h2::after{
    border-left-color: #0d0d0d;
    border-top-color: #0d0d0d;
}
#fan div:nth-child(10) h2::before{
    border-left-color: #0d0d0d;
    border-top-color: #0d0d0d;
    left: 5em
}
#fan div:nth-child(10) h2::after{
    border-left-color: #0d0d0d;
    border-top-color: #0d0d0d;
}
#fan div:nth-child(11) h2::before{
    border-left-color: #000000;
    border-top-color: #000000;
    left: 9em
}
#fan div:nth-child(11) h2::after{
    border-left-color: #000000;
    border-top-color: #000000;
}
#fan div h2, #fan div p{
    margin: 0;
}
