body{
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    margin: 0 5% 0 5%;
    padding: 0;
    display: table;
    text-align: center;
    border: 0.5em solid #333;
}
a{
    text-decoration: none;
    color: #FFF;
}
#menu{
    display: table-row;
    width: 110%; 
}
#menu>a>div{
    width: 2em;
    height: 2em;
    background-color: #fff;
    float: left;
    transform: translateX(-1em) translateY(1.8em);
    transition: 0.5s;
}
#menu>a>div:hover{
    background-color: yellow;
    transition: 0.7s;
}
#menu>a>div>div{
    width: 1.4em;
    height: 1.4em;
    background-color: #333;
    float: left;
    transform: translateX(0.3em) translateY(0.3em);
}
#menu>a>div>div>div{
    width: 1.2em;
    height: 0.4em;
    background-color: #333;
    float: left;
    transform:rotate(-35deg) translateX(-1em) translateY(0em);
}
#menu>a{
    width: 30%;
    text-align: left;
    transition: 0.5s;
}
#menu>a:hover{
    color: yellow;
    transition: 0.7s;
}
#menu a:first-child+a{
    width: 35%;
    border-right: 1px solid #666;
    transition: 0.5s;
}
#menu a:first-child+a:hover{
    color: yellow;
    transition: 1s;
}
#menu ul{
    width: 35%;
}
#menu a:last-child{
    width: 10%;
    text-align: right;
}
a,ul{
    display: table-cell;
}
ul{
    list-style: none;
}
li{
    display: table-cell;
    font-size: 0.8em;
    padding: 1em;
}
h1{
    margin-bottom: -0.3em;
    font-size: -0.8em;
}
small{
    margin-top: 0;
    text-align: left;
    font-size: 0.7em;
    float: left;
    color: #888;
    margin-left: 3em;
}
p{
    color: #666;
    float: left;
    margin-top: 0;
    margin-left: 35%;
    margin-right: 0.3em;
}
i{
    transition: 0.5s;
}
i:hover{
    color: yellow;
    transition: 1s;
}